
* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.title {
    font-size: 60px;
    height: 150px;
    margin-left: 50px;
    letter-spacing: 0px;
    display: flex;
    flex-direction:row-reverse;
    text-align: center;
    position: relative;
    top: 40px;
    right: 30px;
}

header {
    background-color: rgb(173, 185, 255);
}

.logo {
    position: absolute;
    left: 30px;

}

.menu {
    width: 100%;
    text-decoration: none;
    font-style: normal;
    font-size: 20px;
    left: 20px;
    right: 20px;
    color: black;
    background-color: rgb(218, 191, 243);
    padding: 3px;    
    display: flex;
    justify-content: flex-end;
}

.menu li {
    display:inline-block;
    margin: 0 80px 0 80px;
    text-transform: uppercase;
}
.menu a {
    font-size: 30px;
    text-decoration: none;
}
.aboutMe {
    background-color: rgb(245, 253, 255);
    text-align: right;
    font-style: italic;
    margin-left: 20px;
    margin-right: 15px;
    width: 100%;
    width: 100%;
}

.titlePhoto {
    text-align: center;
    font-style: normal;
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.photo {
    align-content: space-around;
    align-items: stretch;
    columns: 2;
    margin-top: 30px;
}

.photo img {
    display: flex;
    flex-direction:row-reverse;
    text-align: center;
    position: relative;
    height: 200px;
    width: 350px;
}

main{
    margin: 30px 10px 30px 10px;
    display: flex;
    background-color: rgb(245, 253, 255);    
}

.hello {
    font-size: 50px
}
.about {
    margin-top: 20px;
    font-size: 18px;
}

footer{
    background-color: rgb(218, 191, 243);
    box-sizing: border-box;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

footer a {
    color: rgb(54, 42, 122);
    font-size: 28px;
    cursor:pointer;
}

footer p {
    font-size: 28px;
    margin: 0 0 30px 30px;
}